/* Element Selectors */

p {
    font-size: 20px;
    color: darkslategrey;
    font-family: 'Montserrat', sans-serif;
}

/* Class Selectors */


/* Profile pic styling */



/* ID Selectors */

/* project section small header */
#small-text {
    font-size: 20px;
}
